$bg-color: #c4c4c4;
$text-color: #033f75;
$opened: #fd1818;
$closed: #34c209;
$span-label: #5c5757;
$error-page-font-color: #000000;
$white: #ffffff;

$content-max-width: 800px;
$responsive-switch-width: 600px;